.options{
    margin-left: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
        width: min(var(--input-max-width), 100%);
        cursor: pointer;
        height: var(--height);
        background-color: var(--items-background);
        border: 1px solid var(--border-color);
        border-radius: calc(var(--height) / 2);
        backdrop-filter: blur(3px);

        display: flex;
        align-items: center;
        justify-content: center;
    }
}