.hourly_condition{  
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    overflow-x: auto;

    color: var(--main-color);
    background-color: var(--items-background);
    border-radius: 1rem;
    border: 1px solid var(--border-color);
}