<div class="search-response">
    <div class="search_container">
        <button (click)="toggleInputState()" >
            <img src="assets/icons/search-alt-regular-24.png" alt="search icon">
        </button>
    
        <input
            type="text"
            #searchBar
            (input)="updateSearchSignal(searchBar)"
            [@slideInOut]="inputState"
        />
    </div>
    <div class="options_div">
        <app-options (clickOutput)="toggleInputState()" [searchBar]="searchBar" />
    </div>
</div>
