*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*::after, *::before{
    box-sizing: border-box;
}

body{
    background: rgb(49,167,186);
    background: linear-gradient(90deg, rgba(49,167,186,1) 0%, rgba(44,42,177,1) 100%);
    color: var(--main-color);
}

:root{
    --main-color: white;
    --border-color: rgba(255,255,255,0.7);
    --items-background: rgba(0,0,0,0.6)
}

